@page
@model WebApp.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Index Page<br/><br/>
    <a href="GameMenu">Start Game</a><br/>
    <a href="Saves">Load Game</a><br/>
    <a href="Game">Resume</a>
</div>
</body>
</html>