/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.board{
  padding: 20px;
  margin: 20px;
}
.border{
  border: 1px solid black;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
.content{
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  border: none;
  background: rgba(255, 255, 255, .9);

}

.content{
  transition: transform 0.3s;
}
.content:hover{
  transform: scale(1);
}

#tablica table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  position: center;
  text-align: center;
}

#tablica table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0);
}

#tablica table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.4);
}
.element{
  transition: background-color 0.5s, ease-in, transform 0.3s;
}
.element:hover{
  background-color: dodgerblue;
  transform: scale(1.00);
  color: white;
  transition: transform 0.3s;
}
.element:active{
  transform: scale(0.98);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
