@page
@model WebApp.Pages.GameMenu

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a href="Place">Singe Player</a><br/>
    <a>Pvp</a>
</div>
</body>
</html>