@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 👋</h1>
</div>
<body>
<div class="text-center">
    <a href="GameMenu">New Game</a><br/>
    <a href="Saves">Load Game</a><br/>
    @if (WebUI.Player1.Board.Ships.Count > 0 && WebUI.Player2.Board.Ships.Count > 0)
    {
        <a href="Game">Resume</a>
    }<br/>
    @if (Domain.SaveSystem.SavesList.Count > 0)
    {
        <a href="">Save 💾</a>
    }
</div>
</body>