@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 👋</h1>
</div>
<body>
<div class="text-center">
    <a href="GameMenu">🏁 Start Game</a><br/>
    <a href="Saves">Load Game</a><br/>
    <a href="Game">Resume</a>
</div>
</body>