@page
@model WebApp.Pages.Place

@{
    ViewData["Title"] = "Game Setup";
}

<!DOCTYPE html>

<html>
<head>
    <title>Placing ships</title>
</head>
<body>
<div>
    <div class="content">
        @Html.DisplayFor(s=>s.Player.Name)
        <table class="border">
            <tbody>
            @for (int i = 0; i < Model.Player.Board.Board.Count; i++)
            {
                <tr class="border">
                    @for (var j = 0; j < Model.Player.Board.Board[i].Count; j++)
                    {
                        <td class="border">
                            @WebUI.ConvertToSymbols(Model.Player.Board.Board[i][j].ToString())
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
    <br/>
    <a href="?cmd=switch">🔄 Switch</a><br/>
    <a href="?cmd=random">🎲 Random</a><br/>
    <a href="Game">🎮 Play</a>
</div>
</body>
</html>