@page
@model WebApp.Pages.Place

@{
    ViewData["Title"] = "Game Setup";
}

<!DOCTYPE html>

<html>
<head>
    <title>Placing ships</title>
</head>
<body>
<div>
    <div style="white-space: pre-wrap;font-family: monospace;">
        @Html.DisplayFor(t => Model.gbString)
    </div>
    <a href="Game">Play</a>
</div>
</body>
</html>