@page
@model WebApp.Pages.Place

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Placed<br/><br/>
    <a href="Game">Play</a>
</div>
</body>
</html>