@page
@model WebApp.Pages.Saves

@{
    ViewData["Title"] = "Save Loading";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div id="tablica" class="content">
    Saves<br/><br/>
    <table id="saves" class="tablecolors" border="0">
    <tbody>
    @foreach (var save in Model.Save)
    {
        var saveString = save.ToString();
        //@Html.DisplayFor(model => saveString)
        //<br/>
        <tr>
            <td class="my-bold my-bborder">
                @saveString
            </td>
        </tr>
        
    }
    </tbody>
    </table>
    
</div>
</body>
</html>