@page
@model WebApp.Pages.Saves

@{
    ViewData["Title"] = "Save Loading";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div id="tablica" class="content">
    <div class="text-center">
        <h1 class="display-5">Saves 💾</h1>
    </div>
     <table id="saves" class="tablecolors" border="0" style="width: 50%">
     <tbody>
      @foreach (var save in Model.Save)
      {
          var saveString = save.ToString();
          //@Html.DisplayFor(model => saveString)
          //<br/>
          <tr>
              <td class="my-bold my-bborder element" onclick="location.href='Place?cmd=load-@save.SaveId'">
                  @saveString
              </td>
          </tr>
      }
     </tbody>
     </table>

</div>
</body>
</html>