@page
@model WebApp.Pages.Shoot

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Html.DisplayFor(s => Model.Status)<br/>
    <a href="Game">Continue</a>
</div>
</body>
</html>